:root {
  --primary-color: #111; /* Emerald Green */
  --secondary-color: #aaa; /* Light Mint */
  --accent-color: #555; /* Light Green */
  --background-color: #eee; /* Pale Green */
  --text-color: #222; /* Dark Green */
}

* {
  box-sizing: border-box;
  margin: 0;
}

nav {
  background: white;
}
